<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1> Hi {{ username }}</h1>
  <p>
    You receive this email because you requested password restart.
    Please login to <b><a href="{{ login_url }}">{{ login_url }}</a></b> with your new password and, change it immediately after login.
  </p>
  <p>New Password: <strong>{{ password }}</strong></p>
  <p>Sincerely,<br>genomicepidemiology.io</p>
</body>

</html>
