<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h2 class="text-center">Analysis performed by <strong>{{ service.name }} {{ service.version }}</strong> is completed</h2>
    <!-- Metadata Start -->
    <div class="row">
      <div class="col-sm-12">
        <h3>METADATA</h3>
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><strong>Run Date:</strong></td>
                <td>{{ metadata.run_date }}</td>
              </tr>
              <tr>
                <td><strong>Run Time:</strong></td>
                <td>{{ metadata.run_time }} seconds</td>
              </tr>
              <tr>
                <td><strong>Sample ID:</strong></td>
                <td>{{ metadata.sample_id }}</td>
              </tr>
              <tr>
                <td><strong>Correlation ID:</strong></td>
                <td>{{ metadata.correlation_id }}</td>
              </tr>
              <tr>
                <td><strong>File(s):</strong></td>
                <td>{{ metadata.filesname | join(',') }}</td>
              </tr>
              <tr>
                <td><strong>Output Dir:</strong></td>
                <td>{{ metadata.output_dir }}</td>
              </tr>
              <tr>
                <td><strong>Command:</strong></td>
                <td>{{ metadata.command }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Metadata Stop -->

    <!-- Error Start -->
    {% if error %}
      <div class="row">
        <div class="col-sm-12">
          <h3>ERROR OUTPUT</h3>
          <p><strong>Warning:</strong> All samples with error(s) are automatically deleted -this will allow you to re-upload sample.
            Remember you can always forward this email along with uploading samples to our support team for further investigation.
          </p>
          <pre style="color: red;">{{ error }}</pre>
        </div>
      </div>
    {% endif %}
    <!-- Error Stop -->

    <!-- JSON Output Start -->
    {% if json_output %}
    <div class="row">
      <div class="col-sm-12">
        <h3>JSON OUTPUT</h3>
        <pre>{{ json_output | format_json }}</pre>
      </div>
    </div>
    {% endif %}
    <!-- JSON  Output Stop -->

    <!-- Output Start -->
    {% if raw_output %}
    <div class="row">
      <div class="col-sm-12">
        <h3>RAW OUTPUT</h3>
        <pre>{{ raw_output }}</pre>
      </div>
    </div>
    {% endif %}
    <!-- Output Stop -->

    <p>Sincerely,<br>genomicepidemiology.io</p>
  </div>
</body>

</html>
